<ion-header>
    <ion-toolbar text_center >

      <ion-title>
       Administración del negocio
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-item>
        <ion-icon color ="secondary" slot="start" name="list"></ion-icon>
        <ion-label>
          Mi cuenta de Negocios
        </ion-label>
      </ion-item>
      <ion-item routerLink="/add-product">
          <ion-icon color ="secondary" slot="start" name="pricetag"></ion-icon>
          <ion-label>
            Mis productos
          </ion-label>
          </ion-item>
          <ion-item>
              <ion-icon color ="secondary" slot="start" name="stats"></ion-icon>
              <ion-label>
                Estadisticas
              </ion-label>
              </ion-item>
</ion-content>
