
<ion-header>
  <ion-toolbar color="secondary" text-center>

    <ion-title>Mis productos</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list >
      <ion-item>
            <ion-row>
                <ion-col col-3>Cantidad</ion-col>
                <ion-col col-3>Producto</ion-col>
                <ion-col col-3>Precio</ion-col>
                <ion-col col-3>Total</ion-col>
         </ion-row>
    </ion-item>
     <ion-item *ngFor="let item of selectedItems" text-center>

    <ion-row  >
        <ion-col col-3>{{ item.count }}</ion-col>
        <ion-col col-3>{{ item.name }}</ion-col>
        <ion-col col-3>{{ item.price | currency:'USD':'symbol' }}</ion-col>
        <ion-col col-3>{{ (item.price * item.count) | currency:'USD':'symbol' }}</ion-col>
      </ion-row>

    </ion-item>
    <ion-item>
      Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
    </ion-item>
  </ion-list>
  <ion-button color="secondary" expand='block'>Realizar mi pedido</ion-button>
</ion-content>