<ion-header>
  <ion-toolbar text-center color ="secondary">

    <ion-title>
    Mandaditos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
   
        <ion-card-header>
        
          <ion-card-title>Bienvenido a mandaditosApp</ion-card-title>
        </ion-card-header>
        <ion-card-content text-center>
          <p>Mandaditos es la app mas impresionante que te hara la vida mas facil!!</p>
         
        </ion-card-content>
      </ion-card>
    <div style = "text-align: center">
        <ion-img  src="assets/img/home.png" ionic g></ion-img>

    </div>

    
  
  
    <ion-button expand="block" color ="secondary" routerLink="/categories">
      Comienza a pedir
    </ion-button>
 
    <ion-button expand = "block" color="secondary" routerLink="/register">Registrate</ion-button>
</ion-content>
