<ion-header>
  <ion-toolbar text-center color ="light">
    <ion-title>Mi cuenta en mandaditosApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label position="floating">
    Nombre:
  </ion-label>
  <ion-input readonly value="Un nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">
    Correo:
  </ion-label>
  <ion-input readonly value="Un correo"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">
    Mi direccion:
  </ion-label>
  <ion-input readonly value="Una direccion"></ion-input>
</ion-item>
<ion-button expand ="block"color="tertiary">Agregar una dirección</ion-button>

</ion-content>
